Django==2.1.1
django-crispy-forms==1.7.2
django-rest-auth==0.9.3
django-templated-mail==1.1.1
django-webpack-loader==0.6.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
djoser==1.3.0
gunicorn==19.7.1
PyJWT==1.6.4
pytz==2018.5
six==1.11.0
whitenoise==3.3.1
