.menu-product {
    border-radius: 30px;
    background: black;
    color: white;
    position: fixed;
    top: 60px;
    z-index: 1000;
}

.ul-menu-product {
    list-style: none;
    display: flex;
    padding: 20px 66px;
    margin: 5px 20px;
}

ul.ul-menu-product li {
    padding: 5px 45px;
}

ul.ul-menu-product li a {
    color: white;
    text-decoration: none;
}

.product-list {
    background: gainsboro;
}

.product-list-panel {
    margin-left: 16px;
    margin-right: 16px;
    width: 22%;
    background: white;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.product-list-panel:hover {
    box-shadow: 3px 3px 4px 1px darkgray;
}

.product-list-panel img {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.product-list-panel h3, p {
    text-align: center;
}

ul.ul-menu-product-tivi {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-tivi li {
    padding: 5px 10px;
}

ul.ul-menu-product-tivi li a {
    color: white;
    text-decoration: none;
}

ul.ul-menu-product-mobiphone {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-mobiphone li {
    padding: 5px 10px;
}

ul.ul-menu-product-mobiphone li a {
    color: white;
    text-decoration: none;
}

ul.ul-menu-product-laptop {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-laptop li {
    padding: 5px 10px;
}

ul.ul-menu-product-laptop li a {
    color: white;
    text-decoration: none;
}

ul.ul-menu-product-refri {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-refri li {
    padding: 5px 10px;
}

ul.ul-menu-product-refri li a {
    color: white;
    text-decoration: none;
}

ul.ul-menu-product-software {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-software li {
    padding: 5px 10px;
}

ul.ul-menu-product-software li a {
    color: white;
    text-decoration: none;
}

ul.ul-menu-product-device {
    list-style: none;
    display: flex;
}

ul.ul-menu-product-device li {
    padding: 5px 10px;
}

ul.ul-menu-product-device li a {
    color: white;
    text-decoration: none;
}

.search-container button {
    /* float: right; */
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.search-container button:hover {
    background: #ccc;
}
  
@media screen and (max-width: 600px) {
    .search-container {
      float: none;
    }
    .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .search-container input[type=text] {
      border: 1px solid #ccc;  
    }
}

.search-container {
    float: left;
}
  
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
}
#tab-content-sale {
    background: gainsboro;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
  
nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

.width33 {
    width: 33.3%;
}

.title_tab {
    text-align: center;
    color: white;
    font-size: 20px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color:#e5101d;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.pagination-wrapper {
    overflow-x:auto;
    text-align: center;
}
  
.pagination {
    justify-content: center;
    margin:30px;
}
  
.data-slice {
    margin-top: 15px;
}

.tab-content .pagination-wrapper {
    text-align: center;
    padding: 0 !important;
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        z-index: 1000;
        top: 0px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: rgb(229, 16, 29);
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover {
        outline: none;
        background-color: #1a242f !important;
    }
}

.active {
    outline: none;
    background-color: #1a242f !important;
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}

.form_cate_ad{
    float: right;
    width: 20%;
    margin-top: -26px;
    display: flex;
}

.mg-left {
    margin-left: 10px;
}

.mg-bottom {
    margin-bottom: 10px;
}

.rdt {
    position: relative;
  }
  .rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
  }
  .rdtOpen .rdtPicker {
    display: block;
  }
  .rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
  }
  
  .rdtPicker .rdtTimeToggle {
    text-align: center;
  }
  
  .rdtPicker table {
    width: 100%;
    margin: 0;
  }
  .rdtPicker td,
  .rdtPicker th {
    text-align: center;
    height: 28px;
  }
  .rdtPicker td {
    cursor: pointer;
  }
  .rdtPicker td.rdtDay:hover,
  .rdtPicker td.rdtHour:hover,
  .rdtPicker td.rdtMinute:hover,
  .rdtPicker td.rdtSecond:hover,
  .rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
  }
  .rdtPicker td.rdtOld,
  .rdtPicker td.rdtNew {
    color: #999999;
  }
  .rdtPicker td.rdtToday {
    position: relative;
  }
  .rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
  }
  .rdtPicker td.rdtActive,
  .rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
  .rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
  }
  .rdtPicker td.rdtDisabled,
  .rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  
  .rdtPicker td span.rdtOld {
    color: #999999;
  }
  .rdtPicker td span.rdtDisabled,
  .rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
  }
  .rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
    cursor: default;
  }
  .rdtPicker th.rdtSwitch {
    width: 100px;
  }
  .rdtPicker th.rdtNext,
  .rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
  }
  
  .rdtPrev span,
  .rdtNext span {
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  
  .rdtPicker th.rdtDisabled,
  .rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  .rdtPicker thead tr:first-child th {
    cursor: pointer;
  }
  .rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
  }
  
  .rdtPicker tfoot {
    border-top: 1px solid #f9f9f9;
  }
  
  .rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .rdtPicker button:hover {
    background-color: #eee;
  }
  
  .rdtPicker thead button {
    width: 100%;
    height: 100%;
  }
  
  td.rdtMonth,
  td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
  }
  td.rdtMonth:hover,
  td.rdtYear:hover {
    background: #eee;
  }
  
  .rdtCounters {
    display: inline-block;
  }
  
  .rdtCounters > div {
    float: left;
  }
  
  .rdtCounter {
    height: 100px;
  }
  
  .rdtCounter {
    width: 40px;
  }
  
  .rdtCounterSeparator {
    line-height: 100px;
  }
  
  .rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
  }
  .rdtCounter .rdtBtn:hover {
    background: #eee;
  }
  .rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }
  
  .rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
  }
  
  .rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
  }
  
  .rdtTime td {
    cursor: default;
  }

li.prev_car_product {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-top: 155px;
    border: 1px solid;
    border-radius: 2px;
    background: azure;
}

li.next_car_product {
    float: right;
    text-decoration: none;
    list-style: none;
    margin-top: 155px;
    border: 1px solid;
    border-radius: 2px;
    background: azure;
}

.tit_gradient {
    background: -moz-radial-gradient(top left, circle farthest-corner, #ffffff 0%, #cc0000 100%);
    background: -o-radial-gradient(top left, circle farthest-corner, #ffffff 0%, #cc0000 100%);
    background: -ms-radial-gradient(top left, circle farthest-corner, #ffffff 0%, #cc0000 100%);
    background: -webkit-radial-gradient(top left, circle farthest-corner, #ffffff 0%, #cc0000 100%);
    /* height: 200px; */
}

.breadcrumb {
    margin-bottom: 0;
}

.square_color {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.list_rating {
    float: right;
}

.li_icon_cart {
    position: relative;
    font-size: 2em;
    color: grey;
    cursor: pointer;
    padding-left: 25px;
    margin-right: 20px;
}

.icon_cart {
    position: absolute;
    font-size: 1em;
    top: 4px;
    color: black;
    right: -4px;
}

.num_on_cart {
    position: absolute;
    font-size: 0.3em;
    top: 1px;
    color: #fff;
    right: 2px;
    border: 1px solid black;
    border-radius: 6px;
    background: green;
}

.img_on_cart {
    width: 50%;
    max-height: 25px;
    min-height: 50px;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.p-d-10 {
    padding: 10px;
}

@-webkit-keyframes my {
	 0% { color: #F8CD0A; } 
	 50% { color: #fff;  } 
	 100% { color: #F8CD0A;  } 
 }
 @-moz-keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 }
 @-o-keyframes my { 
	 0% { color: #F8CD0A; } 
	 50% { color: #fff; } 
	 100% { color: #F8CD0A;  } 
 }
 @keyframes my { 
	 0% { color: #F8CD0A;  } 
	 50% { color: #fff;  }
	 100% { color: #F8CD0A;  } 
 } 
 .rest_promotion {
         /* background:#3d3d3d; */
         /* font-size:24px; */
         font-weight:bold;
         color: red; 
         float: left;
         margin-left: -63px;
	 -webkit-animation: my 700ms infinite;
	 -moz-animation: my 700ms infinite; 
	 -o-animation: my 700ms infinite; 
	 animation: my 700ms infinite;
}

.fr_show_cmt {
    display: flex;
    margin: 15px;
}